#login-page {
    margin-top: 150px;
}

form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.lineBreak {
    width: 230px;
    word-wrap: break-word;
}

.word {
    width: 160px;
    background: #f0f0f0;
    border: 1px solid #333;
    padding: 10px;
    font-size: 18px;
}
.has-image-centered {
    margin-left: auto;
    margin-right: auto;
}